
.confirm{
    color: grey;
}
.deny{
    color: red;
}
.list{
    width: 100px;
}


.pointer {
    cursor: pointer;
}
dialog {
    background-color: white;
    color: black;
    border-color: transparent;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 0 20px 8px #d0d0d0;
    height: auto;
    width: 30rem;
 }

 .close_button {
    padding: .5rem 1.2rem;
    border-radius: 5px;
    background-color: #5D196A;
    color: white;
    margin-top: 20px;
    margin-left: 300px;

 }
.title{
    color: #5D196A;
}
h2{
    color: #5D196A;
}
 
